@include mobile {

    .fondo-cursos {
        background-color: $secondaryColor;

        .h1-cursos {
            text-align: center;
            margin-top: 10px;
            background-color: $mainColor;
            color: white;
            font-weight: bold;
            padding: 10px;
            margin-bottom: 3%;
            width: 40%;
        }

        .material {
            font-weight: 600;
            margin-top: 4%;
            margin-right: 17%;
            margin-left: 13%;
            width: 75%;
            text-align: center;


            .apartado1 {
                background-color: white;
                padding: 2%;
                margin-bottom: 30px;
                border-color: $mainColor;
                border-style: solid;
            }

            .apartado2 {
                background-color: white;
                padding: 2%;
                margin-bottom: 30px;
                border-color: $mainColor;
                border-style: solid;
            }

            .apartado3 {
                background-color: white;
                padding: 2%;
                margin-bottom: 30px;
                border-color: $mainColor;
                border-style: solid;

            }

            .apartado4 {
                background-color: white;
                padding: 2%;
                margin-bottom: 30px;
                text-align: center;
                border-color: $mainColor;
                border-style: solid;
            }

            .videos {
                width: 50vh;
                height: 25vh;
            }

            .explication {
                margin-top: 40px;
            }
        }
    }
}

@include tablet {
    .fondo-cursos {
        background-color: white;

        .material {

            .apartado1 {
                background-color: $secondaryColor;
                border: none;
            }

            .apartado2 {
                background-color: $secondaryColor;
                border: none;
            }

            .apartado3 {
                background-color: $secondaryColor;
                border: none;
            }

            .apartado4 {
                background-color: $secondaryColor;
                border: none;
            }

            .videos {
                width: 90%;
                height: 35vh;
            }
        }
    }
}

@include desktop {
    .fondo-cursos {
        background-color: white;

        .h1-cursos {
            width: 100%;
            background-color: $secondaryColor;
            color: black;
            font-weight: 500;
        }

        .material {
            margin-top: 4%;
            margin-right: 1%;
            margin-left: 1%;
            margin-bottom: 20%;
            width: auto;
            height: max-content;
            display: grid;
            grid-template-areas:
                "apartado1  apartado2"
                "apartado3  apartado4"
                "footer     footer";
            grid-template-columns: 48% 48%;
            gap: 4%;

            .apartado1 {
                height: 50vh;
                background-color: $secondaryColor;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .apartado2 {
                height: 50vh;
                background-color: $secondaryColor;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .apartado3 {
                height: 50vh;
                background-color: $secondaryColor;
                padding: 0;
                margin-bottom: 0%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .apartado4 {
                height: 50vh;
                background-color: $secondaryColor;
                padding:  0;
                margin-bottom: 0%;
                display: flex;
                flex-direction: column;
                align-items: center;  
            }

            .videos {
                width: 99%;
                height: 99%;
            }

            .explication {
                margin-top: 40px;
            }
        }
    }
}
