footer{
    background-color: rgb(29, 29, 29);
    grid-area: footer;
    margin-top: 10vh;
    height: 20vh;

    .butfoot{
        background-color: rgb(29, 29, 29);
        border-style: none;

        .imgfoot{
            margin: 10px;
        }
    }
}

