@include mobile {

    .nosotros-body {
        display: flex;
        flex-direction: column;

        .container-onaca {
            margin-top: 4%;
            background-color: $secondaryColor;
            width: 25%;
            color: $mainColor;
            align-items: center;
            border-radius: 2px;


            h2 {
                font-weight: 700;
            }

            h3 {
                text-align: right;
                font-weight: 700;
            }
        }
    }

    .miinfo {

        .pic-container {
            margin-left: 1%;
        }
    }
}

@include tablet{
    
}