@include mobile {
    .noticias-body {
        background-color: $secondaryColor;

        .h1-noticias {
            text-align: center;
            margin-top: 10px;
            background-color: $mainColor;
            color: white;
            font-weight: bold;
            padding: 10px;
            margin-bottom: 3%;
            width: 50%;
        }

        .noticias {

            text-align: center;
            font-size: 100%;
            font-weight: bold;

            .apartado-eth {
                padding: 2%;
                background-color: white;
                text-align: center;
                margin-bottom: 5%;
                border-bottom: solid $mainColor;
                border-top: solid $mainColor;

                .noticias-text1 {
                    grid-area: noticiastext1;
                }

                .noticias-eth {
                    margin-bottom: 5%;
                    grid-area: noticiaseth;
                }
            }

            .apartado-elon {
                margin-bottom: 5%;
                padding: 2%;
                background-color: white;
                text-align: center;
                border-bottom: solid $mainColor;
                border-top: solid $mainColor;

                .noticias-elon {
                    margin-bottom: 5%;
                    grid-area: noticiaselon;
                }

                .noticias-text2 {
                    text-align: center;
                    grid-area: noticiastext2;
                }
            }

            .apartado-ada {
                padding: 2%;
                background-color: white;
                text-align: center;
                margin-bottom: 5%;
                border-bottom: solid $mainColor;
                border-top: solid $mainColor;

                .noticias-ada {
                    grid-area: noticiasada;
                }

                .noticias-text3 {
                    grid-area: noticiastext3;
                }
            }
        }
    }
}


@include tablet {

    .noticias-body {
        background-color: white;

        .noticias {

            .apartado-eth {
                background-color: $secondaryColor;
                border-bottom: none;
                border-top: none;
            }

            .apartado-elon {
                background-color: $secondaryColor;
                border-bottom: none;
                border-top: none;

            }

            .apartado-ada {
                background-color: $secondaryColor;
                border-bottom: none;
                border-top: none;
            }
        }
    }
}

@include desktop {
    .noticias-body {

        .h1-noticias {
            width: 100%;
        }

        .noticias {
            display: flex;
            flex-direction: column;
            font-size: 115%;
            font-weight: 700;

            .apartado-eth {
                display: flex;
                flex-direction: row;
                align-items: center;
                .noticias-eth {
                    margin-bottom: 0%;
                }

                .noticias-text1 {
                    text-align: initial;
                    margin-left: 3%;
                }
            }

            .apartado-elon {
                display: flex;
                flex-direction: row;
                align-items: center;
                .noticias-elon {
                    margin-bottom: 0%;
                }

                .noticias-text2 {
                    text-align: initial;
                    margin-left: 7%;
                }
            }

            .apartado-ada {
                display: flex;
                flex-direction: row;
                align-items: center;
                .noticias-ada {
                    margin-bottom: 0%;
                }
                .noticias-text3 {
                    text-align: initial;
                    margin-left: 3%;
                }
            }
        }
    }
}